.footer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
}

.footer-column {
    text-align: left;
}

h3 {
    font-size: 1.2rem;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

a {
    color: #fff;
    text-decoration: none;
}

address {
    font-style: normal;
}

input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

button {
    background-color: #13305e;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

button:hover {
    background-color: #e64d00;
}
