body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.navigation-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #007bff;
    padding: 10px 20px;
    color: #fff;
}

.logo {
    flex: 1; /* The logo will take 1/2 of the available space */
}

.logo img {
    max-width: 100%;
    height: auto;
}

.menu-links {
    flex: 1; /* The links will take 1/2 of the available space */
    display: flex;
    justify-content: space-around;
}

.menu-links a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.menu-links a:hover {
    background-color: #0056b3;
}
